body {
  background-color: white;
}


.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffb4a2;
  width:100%;
  min-height:110vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
/* 
.input-search {
  margin-left:100px;
} */

